.bubble{

    color: white;
    position: relative;
    
     

}
.square{
    background-color: #212731!important;
    border-radius: 10px;
  padding: 2.5vw;
   

}
.square:hover{
    background: rgb(113,237,242);
background: linear-gradient(128deg, rgba(113,237,242,1) 26%, rgba(83,90,230,1) 86%);
    color: black;
}
